.so
{
    background-image: url("https://papers.co/wallpaper/papers.co-vc16-paper-creased-dark-texture-35-3840x2160-4k-wallpaper.jpg");

    color:yellow;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:105vh;

}
.sa
{
    font-size: "30px";
    font-style: italic;
    color:white;
    background-color:black;
}
.su
{
    color: black;
    background-color: gray;
}
.abo
{     
    background-image: url(https://papers.co/wallpaper/papers.co-vc16-paper-creased-dark-texture-35-3840x2160-4k-wallpaper.jpg);
    text-align: center;
    justify-content: center;
    font-size: medium;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;

    color:silver
    ;
}
.vol
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7UcgIRyGvjiOeOOyDP403PQKVAx8tMJgzdg&usqp=CAU");
    color:yellow;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;
}
.kow
{
    direction: "column";
    justify-content:"center";
    align-items:"center"
}
.sanh
{
    background-image: url("https://i.pinimg.com/736x/93/76/82/937682649cb79ba7f9dc3a2f455d0229.jpg");
    color:yellow;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:flex;
}.sanjayraj
{
    background-image: url("https://images.unsplash.com/photo-1542652694-40abf526446e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color:yellow;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height:flex;
}